@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "variables";
@import "mixins";
@import "magic";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "dot-pulse";

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0b1928;
}

.content::-webkit-scrollbar {
  display: none;
}

.new-music .swiper-wrapper {
  padding-top: 45px !important;
}

.slider {
  position: relative;
  width: 150px;
  height: 5px;
}
.slider input[type="range"] {
  position: absolute;
  left: -2px;
  top: -3px;
  width: 154px;
  -webkit-appearance: none;
  background: transparent;
  z-index: 99;
}
.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: #ff404e;
  cursor: pointer;
  box-shadow: 0 0 0 1px #ff404e;
  border-radius: 50%;
}
.slider input::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}
.slider progress {
  width: 150px;
  height: 5px;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
}
.slider progress::-webkit-progress-bar {
  background: #aebed3;
}
.slider progress::-webkit-progress-value {
  background: #ff404e;
}

input[type="checkbox"]:checked:after {
  content: "✔";
  color: white;
  position: absolute;
  top: -5px;
  left: 0;
}

@media screen and (max-width: 480px) {
  .slider {
    width: 100px;
  }
  .slider progress {
    width: 100px;
  }
  .slider input[type="range"] {
    width: 104px;
  }
}
